body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    
    background-color: #ffffff; 
    
    color: #1d1d1f; 
    
    max-width: 760px; 
    margin: 40px auto; 
    padding: 20px;
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    text-rendering: optimizeLegibility; 
    line-height: 1.5;
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #1d1d1f;
    
    border-bottom: none; 
    padding-bottom: 0;
    margin-bottom: 1.5rem; 
}

a {
    color: #0066cc; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline; 
}